/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Montserat', sans-serif;
    color: #58595b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: 0.2s linear;
}

a {
    text-decoration: none;
    color: inherit;
}

.doesnt-exist {
    color: rgb(255, 51, 51);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 55px;
    height: 55px;
}
.logo p {
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    color: #ff405c;
    margin-left: 10px;
}

.header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.header .title {
    font-size: 40px;
    font-weight: 700;
}
.header .leave {
    font-size: 18px;
    font-style: italic;
    color: #58595b;
    text-decoration: underline;
}

.main .table {
    margin: 80px auto 0;
    width: 1350px;
}
.main .table-wrapper {
    overflow: auto;
}
.main .table .title {
    font-weight: 700;
}
.main .table .title a {
    position: relative;
    display: block;
}
.main .table .title.asc a:after,
.main .table .title.desc a:after {
    content: '';
    background: no-repeat url(../img/arrow-down.svg) center / contain;
    position: absolute;
    top: 2px;
    right: 0;
    width: 12px;
    height: 12px;
}
.main .table .title.desc a:after {
    transform: rotate(180deg);
}
.main .table tr {
    border-bottom: 1px solid #000;
}
.main .table td {
    padding: 20px 10px;
    font-size: 18px;
}
.main .table .btns {
    display: flex;
    align-items: center;
}
.main .table .btn {
    padding: 8px 15px;
    border: 1px solid #e5e5e5;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.main .table .btn:first-child {
    margin-right: 5px;
}
.main .table .btn:hover {
    background-color: #e5e5e5;
}

.main .form {
    margin: 80px 0;
    display: none;
    flex-direction: column;
    align-items: center;
}
.main .form.active {
    display: flex;
}
.main .form a {
    display: none;
}
.main .form .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}
.main .form__field {
    padding: 14px 24px;
    min-width: 500px;
    border: 1px solid #e5e5e5;
    outline: none;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1em;
}
.main .form__field::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #9fa1a5;
}
.main .form__field:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #9fa1a5;
}
.main .form__field::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #9fa1a5;
}
.main .form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.main .form__btn {
    display: block;
    padding: 14px 30px;
    background-color: #00bbf9;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 19px;
    border-bottom-left-radius: 0px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }
    .header .title {
        margin: 30px 0;
    }
}

@media (max-width: 530px) {
    .header .title {
        font-size: 30px;
    }
    .main .form__field {
        min-width: unset;
        width: 94%;
    }
}
